.cardList {
    font-family: 'Exo 2', sans-serif;
    font-weight: lighter;
    margin: 50px 0;
    padding: 50px 0 0 0;
}

/* .card, .card-front, .card-back {
  position: absolute;
} */


.card {
    margin: 0 auto;
    height: 450px;
    width: 400px;
    max-width: 80%;
    position: relative;
    transform-style: preserve-3d;
    background-color: rgba(44, 44, 44, 0);
    border: none;
  }


.card-contents {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    /* backface-visibility: hidden; */
    background: linear-gradient(to top left, #5F98A9, #273248);
    /* background: #5F98A9; */
}

.card h6 {
  margin: 0 auto;
  /* text-shadow: 1px 2px 2px rgba(0,0,0,0.2); */
  color: #F4A300;
}

.card h2 {
  margin: 0 auto;
  /* text-shadow: 1px 2px 2px rgba(0,0,0,0.2); */
  color: #F4A300;
}

.card hr {
  width: 70%;
  height: 2%;
  margin: 20px auto;
  color: #F4A300;
}

.card p {
  margin: 0 auto;
  /* text-shadow: 1px 2px 2px rgba(0,0,0,0.2); */
  color: #F4A300;
}

.btn-outline {
  color: #F4A300;
  border: #F4A300 1px solid;
}

/* .card-front {
    background-color: rgb(94, 94, 94);
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    transition: 0.75s;
}

.card:hover {
  transform: scale(1.1);
} */

.card .front-face,
.card .back-face {
    backface-visibility: hidden;
    transition: transform 1.2s cubic-bezier(.4, .3, .5, 1);
    transform-style: preserve-3d;
}

.card .back-face {
  transform: rotateY(180deg);
  background-repeat: no-repeat;
  background-size: cover;
  transform-style: preserve-3d;
  /* background: linear-gradient(to top left, #3a6186, #89253e); */
}

/* .card:hover {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
} */

.card:hover > .back-face {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.card:hover > .front-face {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.card-3d {
  transform: translateZ(100px) scale(1);
  transform-style: preserve-3d;
  /* perspective: inherit; */
}

/* 三维元素比例 */
.container {
  perspective: 1500px;
}